@value --primary from "../App.css";
@value --primary-variant from "../App.css";
@value --secondary from "../App.css";
@value --secondary-variant from "../App.css";
@value --background from "../App.css";
@value --surface from "../App.css";
@value --on-primary from "../App.css";
@value --on-primary-variant from "../App.css";
@value --on-secondary from "../App.css";
@value --on-secondary-variant from "../App.css";
@value --on-background from "../App.css";
@value --on-surface from "../App.css";
@value --primary-container from "../App.css";
@value --secondary-container from "../App.css";
@value --on-primary-container from "../App.css";
@value --on-secondary-container from "../App.css";

.home-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 8vw;
  margin-right: 8vw;
  height: calc(100vh - 80px);
}

.title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100vh - 80px);
}

.title {
  font-size: 8vh;
  font-weight: bold;
  line-height: 0.8;
}

.typewriter h1 {
  overflow: hidden;
  border-right: 0.15em solid orange;
  white-space: nowrap;
  font-size: 1.6rem;
  width: 0;
  animation: typing 2s steps(18, end) forwards;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

#about-me-button {
  text-decoration: none;
  color: var(--on-primary);
  border-radius: 20px;
  background-color: var(--primary-container);
  padding: 5px 10px;
  width: max-content;
}

#about-me-button:hover {
  background-color: var(--secondary-container);
}

.new-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
  visibility: visible;
}

.new-heading {
  font-weight: bold;
  font-size: 20px;
}

.new-section-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  margin-top: 20px;
  column-gap: 10px;
  row-gap: 10px;
  /* margin-left: 8vw; */
  /* margin-right: 8vw; */
  margin-bottom: 20px;
  /* width: 30%; */
}

.new-section-item {
  height: 200px;
  width: 100%;
  display: block;
  background-color: var(--primary-container);
  padding: 10px 5px;
}

.website-log {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

@media only screen and (max-width: 800px) {
  .new-section {
    visibility: hidden;
  }

  .title-container {
    margin-top: 20px;
    flex-direction: column;
    justify-content: start;
  }

  .home-container {
    flex-direction: column;
  }
}
