@value --primary from "../App.css";
@value --primary-variant from "../App.css";
@value --secondary from "../App.css";
@value --secondary-variant from "../App.css";
@value --background from "../App.css";
@value --surface from "../App.css";
@value --on-primary from "../App.css";
@value --on-primary-variant from "../App.css";
@value --on-secondary from "../App.css";
@value --on-secondary-variant from "../App.css";
@value --on-background from "../App.css";
@value --on-surface from "../App.css";
@value --primary-container from "../App.css";
@value --secondary-container from "../App.css";
@value --on-primary-container from "../App.css";
@value --on-secondary-container from "../App.css";

/* Top navbar */
.navbar-container {
  background-color: var(--background);
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  visibility: visible;
  position: sticky;
  width: 100%;
}

/* Title of page */
#page-name {
  color: var(--on-background);
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
}

/* Nav bar button */
.menu-bars {
  margin-left: 2rem;
  background: none;
  color: var(--on-background);
  padding: 5px 5px 5px 5px;
  visibility: hidden;
  position: fixed;
  margin-top: 20px;
}

.menu-bars:hover {
  background-color: rgb(0, 0, 0, 0.1);
  border-radius: 40px;
}

.top-nav-container {
  visibility: visible;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: max-content;
}

.top-nav-option {
  text-decoration: none;
  color: var(--on-background);
  list-style-type: none;
  display: block;
  margin-right: 20px;
  font-size: 24px;
}

@media screen and (max-width: 800px) {
  .menu-bars {
    visibility: visible;
  }

  .navbar-container {
    visibility: hidden;
  }

  .top-nav-container {
    visibility: hidden;
  }
}
