@value --primary from "../App.css";
@value --primary-variant from "../App.css";
@value --secondary from "../App.css";
@value --secondary-variant from "../App.css";
@value --background from "../App.css";
@value --surface from "../App.css";
@value --on-primary from "../App.css";
@value --on-primary-variant from "../App.css";
@value --on-secondary from "../App.css";
@value --on-secondary-variant from "../App.css";
@value --on-background from "../App.css";
@value --on-surface from "../App.css";
@value --primary-container from "../App.css";
@value --secondary-container from "../App.css";
@value --on-primary-container from "../App.css";
@value --on-secondary-container from "../App.css";

/* Close button */
.navbar-toggle {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: end;
  align-items: center;
}

.navbar-toggle svg {
  margin-right: 20px;
  padding: 5px 5px 5px 5px;
}

.navbar-toggle svg:hover {
  background-color: rgb(0, 0, 0, 0.1);
  border-radius: 40px;
}

/* Modal */
.modal-container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  animation: fade-in 250ms ease-in-out;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Top navbar */
.navbar {
  background-color: var(--background);
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}

/* Side bar container */
.nav-menu {
  background-color: var(--background);
  width: 400px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  /* left: -100%; */
  /* transition: 850ms; */
  animation: transition-in-left 250ms ease-in-out;
}

@keyframes transition-in-left {
  0% {
    left: -100%;
  }
  100% {
    left: 0%;
  }
}

@keyframes transition-out-left {
  0% {
    left: 0%;
  }
  100% {
    left: -100%;
  }
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
}

/* Nav item */
.nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 80px;
}

.nav-text a {
  text-decoration: none;
}

.nav-text span {
  color: var(--on-background);
  font-size: 32px;
  height: 100%;
  align-items: center;
  display: block;
  position: relative;
  padding: 0.1em 0;
}

/* Nav item underline fade in */
.nav-text span::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: var(--on-background);
  opacity: 0;
  transition:
    opacity 200ms,
    transform 200ms;
}

.nav-text span:hover::after,
.nav-text span:focus::after {
  opacity: 1;
  transform: translate3d(0, 0.2em, 0);
}

.nav-text span::after {
  opacity: 1;
  transform: scale(0);
  transform-origin: center;
}

.nav-text span:hover::after,
.nav-text span:focus::after {
  transform: scale(1);
}

.nav-menu-items {
  width: 100%;
}

/* Title of page */
#page-name {
  color: var(--on-background);
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
}
